* {
    background-color: rgb(36, 40, 44);;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 232, 241);
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 232, 241);
}

#UX {
    padding-top: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 232, 241);
}

button {
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(110, 179, 235);
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    color: rgb(221, 232, 241);
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: rgb(110, 179, 235);
    transform: scale(1.1);
    filter: brightness(1.2);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


/* .porque-nao-decimais {
    text-align: center;
    float: right;
    font-size: 115%;
    margin-top: 10%;
    width: 600px;
    color: rgb(221, 232, 241);
}
*/

/* .porque-nao-decimais h1 {
    font-size: 110%;
    color: rgb(235, 46, 46);
}
    */

